# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 <LICENSE-APACHE or
# https://www.apache.org/licenses/LICENSE-2.0> or the MIT license
# <LICENSE-MIT or https://opensource.org/licenses/MIT>, at your
# option. This file may not be copied, modified, or distributed
# except according to those terms.

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: '0 0 * * 3'

env:
  RUSTFLAGS: "-Dwarnings"
  RUSTDOCFLAGS: "-Dwarnings"

jobs:
  msrv:
    runs-on: ubuntu-latest
    env:
      rust_version: "1.70"
      CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse
    steps:
      - uses: actions/checkout@v4
      - run: rustup toolchain install $rust_version --profile minimal --no-self-update
      - run: rustup default $rust_version
      - uses: Swatinem/rust-cache@v2
      - run: rustc --version
      - run: cargo test --all-features

  stable:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - run: |
          cargo test --workspace
          cargo clippy --workspace

  lockfile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - run: |
          cargo check --locked --workspace

  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: cargo fmt --all -- --check --config format_code_in_doc_comments=true

  doc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - run: cargo doc

  cargo-deny:
    runs-on: ubuntu-latest
    env:
      cdver: 0.14.20
    steps:
    - uses: actions/checkout@v4
    # Download a pinned version of cargo-deny to make this CI job faster.
    - run: |
        curl --fail --location --output cargo-deny.tar.gz https://github.com/EmbarkStudios/cargo-deny/releases/download/$cdver/cargo-deny-$cdver-x86_64-unknown-linux-musl.tar.gz
        echo "1c9f8cfc23647346f1aa7ba0ed3167191f3198aba3dc5a957fda6f85a82fc424 cargo-deny.tar.gz" | sha256sum --check
        tar xvf cargo-deny.tar.gz
        cargo-deny-$cdver-x86_64-unknown-linux-musl/cargo-deny deny check

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/install-action@cargo-llvm-cov
      - uses: Swatinem/rust-cache@v2
      - run: cargo llvm-cov --all-features --workspace --lcov --output-path lcov.info
      - uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: lcov.info
          fail_ci_if_error: true

  spellcheck:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: crate-ci/typos@v1.24.1
